# 1. Thư mục phụ thuộc (Dependency) - CỰC NẶNG, KHÔNG PUSH
node_modules/

# 2. Các file môi trường & bí mật - MẬT KHẨU, API KEY (BẢO MẬT)
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# 3. File thành phẩm sau khi Build (Build outputs)
dist/
build/

# 4. File rác do hệ thống/trình soạn thảo tự sinh ra
.DS_Store
*.log
npm-debug.log*
.vscode/
.idea/